* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FDF5E6;
  }

.header {
    padding: 30px 30px 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDE7E8;
    color: black;
}

.header h1 {
    font-size: 50px;
    background-color: #FDF5E6;
    display: inline;
    padding: 10px 20px 10px 50px;
    
}

.header nav {
    padding-top: 50px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

.banner {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Francoise_Floral_by_Clare_V_Blush_design_4d5da9d8-2d00-4bff-b81b-c927f96e3ee2_400x.jpg?v=1633378017");
}

.banner h2{
    position: relative;
    top: 70px;
    display: inline;
    float: right;
    background-color: #FDF5E6;
    padding: 10px 15px 10px 15px;
    font-size: 30px;
}
#photo {
    width: 20%;
    margin-bottom: 25px;
    position: relative;
    left: 40%;
}

.name {
    position: relative;
    top: 60px;
    margin-left: 150px;
}

.name h3{
    position: relative;
    width: 150px;
    font-size: 30px;
    border-right: 5px solid #13293d;
}

.me p {
    position: relative;
    margin: 0% 0% 0% 20%;
    bottom: 100px;

}

.me h3 {
    height: 100px;
}

.work3 h3 {
    height: 60%;
    
}

.work3 div {
  margin: 0% 0% 0% 20%;
  padding: 5px;
  position: relative;
  bottom: 35px;
  
  }
  
.work3 header {
    position: absolute;
    display:inline-block;
    padding: 10px;
    background: #13293d;
    color: #fff;
  }

.img2 {
    position: relative;
    
}
.img2 img{
    width: 60%;
    border-style: solid;
    border-width: 3px;
}

.img3 {
    display: inline-block;
    height: 400px;
}
.img3 img {
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    width: 45%;
    height: 40%;
    margin: 10px 25px 0px 10px;
    
}

.contact {
    position: relative;
   
}
.contact ul {
    text-align: center;
    position: relative;
    bottom: 30px;
}
.contact ul li {
    padding-bottom: 30px;
    margin-right: 5%;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    bottom: 20px;
}

/* @media screen and (-width: 768px) {
    nav
    .name
    {
      flex-direction: column;
    }
  } */