* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FDF5E6;
  }

.header {
    padding: 30px 30px 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDE7E8;
    color: black;
}

.header h1 {
    font-size: 50px;
    background-color: #FDF5E6;
    display: inline;
    padding: 10px 20px 10px 50px;
    
}

.header nav {
    padding-top: 50px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

.banner {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Francoise_Floral_by_Clare_V_Blush_design_4d5da9d8-2d00-4bff-b81b-c927f96e3ee2_400x.jpg?v=1633378017");
}

.banner h2{
    position: relative;
    top: 70px;
    display: inline;
    float: right;
    background-color: #FDF5E6;
    padding: 10px 15px 10px 15px;
    font-size: 30px;
}
#photo {
    width: 20%;
    margin-bottom: 25px;
    position: relative;
    left: 40%;
}

main,
footer {
    align-items: flex-start;
    position: relative;
    margin: 50px 0px 20px 150px;
}

h3 { 
    width: 115px;
    font-size: 30px;
    margin-bottom: 10px;
    border-right: 5px solid #13293d;
}

p {
    display:flex;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    margin: -5% 0% 0% 20%;
}

.work3 div {
  margin: 0% 0% 0% 20%;
  padding: 5px;
  }
  
.work3 header {
    position: absolute;
    display:inline-block;
    padding: 30px;
    background: #13293d;
    color: #fff;
  }

.img2 img{
    width: 60%;
    border-style: solid;
    border-width: 3px;
}

.img3 {
    height: 20%;
    width: 50%;
}

.img3 img {
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    width: 45%;
    height: 40%;
}

.contact {
    display: inline;
}

.contact ul li {
    margin:0% 0% 10% 20%;
    list-style-type:none ;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
.contact
.work3 {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
 }
}
    

